.hp-sub-title-block {
  border-radius: 30px;
  background-color: white;
  position: absolute;;
  top: 20%;
  left: 5%;
  z-index:2;
  max-width: 90%;
  max-height: 75%;
  padding: 20px;
}

.hp-nav-logo svg {
  max-height: 30px;
  max-width: 80px;
  width:80px;
}

.tab-title {
  color: #4dc5ea;
  font-weight: 900;
  font-size: 1.3em;
  background-color: white;
  border-radius: 30px;
}
.tab-home {
  margin:auto;
  width: 50%;
  word-wrap: break-word;
}

.hp-sub-title {
  display: table-cell;
  color: grey;// #4dc5ea;
  font: italic 200%/150% bold arial, sans-serif;
  font-weight: 900;
  padding: 20px;
  vertical-align: top;
}

.hp-cp-logo {
  margin-right: 35px;
  display: table-cell;
  max-width: 30%;
  vertical-align: middle;
}

.hp-cp-logo svg {
  max-width: 100%;
  max-height: 40px;
  width: 100%;
}

.hp-bg-img {
  max-width: 150%;
  max-height: 35%;
}

.hp-card-content {
  overflow-x: hidden;
  position: relative;
  //top: 45px;
}

@media only screen and (min-width: 1366px) and (min-height: 500px) {

  .hp-bg-img {
    max-width: 100%;
    max-height: 35%;
  }

  .hp-sub-title {
    display: table-cell;
    color: grey;// #4dc5ea;
    font: italic 200%/150% bold arial, sans-serif;
    font-weight: 900;
    padding: 20px;
    vertical-align: top;
  }

  .hp-cp-logo {
    margin-right: 35px;
    display: table-cell;
    max-width: 30%;
    vertical-align: middle;
  }

  .hp-cp-logo svg {
    max-width: 100%;
    max-height: 200px;
    width: 100%;
  }

}

@media only screen and (min-width: 1144px) and (max-width: 1365px) and (min-height: 500px) {

  .hp-bg-img {
    max-width: 130%;
    max-height: 35%;
  }

  .hp-sub-title {
    display: table-cell;
    color: grey;// #4dc5ea;
    font: italic 150%/100% bold arial, sans-serif;
    font-weight: 900;
    padding: 20px;
    vertical-align: top;
  }

  .hp-cp-logo {
    margin-right: 35px;
    display: table-cell;
    max-width: 30%;
    vertical-align: middle;
  }

  .hp-cp-logo svg {
    max-width: 100%;
    max-height: 100px;
    width: 100%;
  }

}

@media only screen and (max-width: 1144px)  {

  .hp-bg-img {
    max-width: 130%;
    max-height: 35%;
  }

  .hp-sub-title {
    display: none;
  }

  .hp-cp-logo {
    display: table-cell;
  }
  .hp-cp-logo svg {
    max-width: 100%;
    max-height: 40px;
    width: 100%;
  }

}

@media only screen and (min-height: 550px) {
  .hp-card-navigation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  .hp-card-content {
    overflow-x: hidden;
    position: relative;
    top: 45px;
  }

}
