.hp-sub-title-block {
  border-radius: 30px;
  background-color: white;
  position: absolute;;
  top: 20%;
  left: 5%;
  z-index:2;
  max-width: 90%;
  padding: 20px;
}

.hp-sub-title {
  display: table-cell;
  //text-align: center;
  color: #4dc5ea;
  font: italic 30px/40px bold arial, sans-serif;
  text-shadow: 1px 1px grey;
  font-weight: 900;
  padding: 20px;
  vertical-align: top;
}

.hp-cp-logo {
  margin-right: 35px;
  display: table-cell;
  max-width: 30%;
  vertical-align: middle;
}

.hp-nav-logo svg {
  max-height: 30px;
  max-width: 80px
}

.hp-bg-img {
  max-width: 150%;

}

.tab-title {
  color: #4dc5ea;
  font-weight: 900;
  font-size: 1.3em;
  background-color: white;
  border-radius: 30px;
}
.tab-home {
  margin:auto;
  width: 50%;
  word-wrap: break-word;
}

@media only screen and (min-width: 1366px) and (min-height: 500px) {
  .hp-bg-img {
    max-width: 100%;

  }
}

@media only screen and (min-width: 1144px) and (max-width: 1365px) and (min-height: 500px) {
  .hp-bg-img {
    max-width: 100%;

  }
}
